<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="testFileNameProvider" class="ru.otus.hw01.config.AppProperties">
        <constructor-arg index="0" value="studentsTest.csv"/>
    </bean>

    <bean id="reader" class="ru.otus.hw01.dao.ReaderDaoImpl">
        <constructor-arg index="0" ref="testFileNameProvider"/>
    </bean>

    <bean id="ioService" class="ru.otus.hw01.service.IOStreamsService">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

    <bean id="csvQuestionsDao" class="ru.otus.hw01.dao.QuestionDaoCsv">
        <constructor-arg index="0" ref="reader"/>
        <constructor-arg index="1" value=";"/>
        <constructor-arg index="2" value="1"/>
    </bean>

    <bean id="testService" class="ru.otus.hw01.service.TestServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionDao" ref="csvQuestionsDao"/>
    </bean>

    <bean id="testRunnerService" class="ru.otus.hw01.service.TestRunnerServiceImpl">
        <constructor-arg name="testService" ref="testService"/>
    </bean>
</beans>
